<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		<!-- v-if : 조건에 따라 화면에 표시 -->
		<a v-if="flag" href="#">gogo vue!</a>
		<a v-else="flag" href="#">stop vue!</a>
		<ul>
			<li v-for="system in systems">{{system}}</li>
		</ul>
		<!-- show는 그냥 보여주고 안보여주고의 차이 -> 일단 만들어는 놓는다. 따라서 비용이 큼-->
		<!-- if는 조건에 만족하지 않으면 아예 만들지도 않는다. -->
		<p v-show="flag"> hello, vue! </p>
		
		<!-- v-bind : 태그의 속성과 뷰 객체의 데이터를 연결시킬 때 -->
		<h5 v-bind:id="uid">vue introduction</h5>
		
		<!-- v-on ; 이벤트 등록 -->
		<button v-on:click="hello">welcome, vue!</button>
		<button v-on:click="change">change</button>
	</div>

	<script type="text/javascript">
		// Vue 객체 생성
		var vm = new Vue({
			el : "#app",
			data : {
				flag : true,
				systems : ['android', 'ios', 'windows'],
				uid : 10
			},
			methods : {
				hello : function() {
					alert('hello~~~')
				},
				change : function() {
					this.flag = !this.flag;
				}
			}
			
		});
	</script>
</body>
</html>